<md-toolbar color="primary">
    {{title}}
</md-toolbar>
<section>
    <md-input-container>
        <input
            mdInput
            placeholder="Search"
            type="search"
            [(ngModel)]="searchTerm"
            (ngModelChange)="newSearch(searchTerm)"
        >
    </md-input-container>
    <ul *ngFor="let result of results | async">
        <li>
            <a [href]="result.html_url" target="_blank">
                {{result.name}}
            </a>
        </li>
    </ul>
</section>
